<!-- 

TODO

Unit Tests
Retry
Form Validation
More Directives
Cross Browser testing
Make your own tab

 -->

<!DOCTYPE html>
<html ng-app="vividSeats">
<head>
    <meta charset="utf-8" />
    <title>Vivid Seats Events - Coding Test</title>
    <script data-require="angular.js@*" data-semver="1.2.18" src="https://code.angularjs.org/1.2.18/angular.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/events/event-service.js"></script>
    <script src="js/app.js"></script>
    <script src="js/eventGrid/eventGridController.js"></script>
    <script src="js/tabs/tabController.js"></script>
    <script src="js/tabs/tabDirective.js"></script>
    <script src="js/tabs/tabTrackingService.js"></script>
</head>
<body>
    <div ng-controller="tabController">
        <span tab ng-repeat="tab in tabs">
        </span>
    </div>
    <div ng-controller="eventGridController">
        <div class="errorMessage" ng-show="errorMessage">
            {{errorMessage}} <span class="clickable" ng-click="alert('test')">Retry?</span>
        </div>
        
        <table class="gridStyle" ng-show="events">
            <tr class="tableHeader">
                <td>Event Name</td>
                <td>Date</td>
                <td>Venue</td>
                <td>City</td>
                <td>State</td>
                <td>Action</td>
            </tr>
            <tr ng-repeat="event in events">
                <td>
                    <span ng-hide="event.editing">{{event.rootEvent.name}}</span>
                    <input ng-show="event.editing" type="text" ng-model="event.rootEvent.name"/>
                </td>
                <td>
                    <span ng-hide="event.editing">{{event.rootEvent.date | date:'MMM dd h:mm a'}}</span>
                    <input ng-show="event.editing" type="text" ng-model="event.rootEvent.date"/>
                </td>
                <td>
                    <span ng-hide="event.editing">{{event.rootEvent.venue.name}}</span>
                    <input ng-show="event.editing" type="text" ng-model="event.rootEvent.venue.name"/>
                </td>
                <td>
                    <span ng-hide="event.editing">{{event.rootEvent.venue.city}}</span>
                    <input ng-show="event.editing" type="text" ng-model="event.rootEvent.venue.city"/>
                </td>
                <td>
                    <span ng-hide="event.editing">{{event.rootEvent.venue.state}}</span>
                    <input ng-show="event.editing" type="text" ng-model="event.rootEvent.venue.state"/>
                </td>
                <td>
                    <div ng-hide="event.editing">
                        <span class="clickable" ng-click="remove(event)">remove</span>
                        / 
                        <span class="clickable" ng-click="event.toggleEdit()">edit</span>
                    </div>
                    
                    <div ng-show="event.editing">
                        <span class="clickable" ng-click="update(event)">save</span>
                        / 
                        <span class="clickable" ng-click="event.toggleEdit()">cancel</span>
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <input ng-hide="newEvent" type="button" value="Add Event" ng-click="add()"/>
        <input ng-show="newEvent" type="button" value="Save" ng-click="save()" style="float: right"/>
        <input ng-show="newEvent" type="button" value="Cancel" ng-click="cancelNew()" style="float: right"/>
        <div ng-show="newEvent"  class="animate-show">
            <input type="text" placeholder="name" ng-model="newEvent.name"/>
            <input type="text" placeholder="date" ng-model="newEvent.date"/>
            <input type="text" placeholder="venue name" ng-model="newEvent.venue.name"/>
            <input type="text" placeholder="venue city" ng-model="newEvent.venue.city"/>
            <input type="text" placeholder="venue state abbreviation" ng-model="newEvent.venue.state"/>
        </div>
    </div>
</body>
</html>